<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Sass</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</nav>
<header>
  <img src="https://fam-hair.com/wp-content/uploads/2019/04/bg-02.jpg", class="top-img">
</header>
<body>
  <div class="menu">
    <div class="line"></div>
    <h2>MENU</h2>
    <div class="row">
      <div class="col s6">
        <div class="menu-name">CUT</div><div class="menu-name__last">(カット）</div>
          <p>カット</p>
          <p>jrカット</p>
          <p>スクールカット</p>
      </div>
      <div class="col s6">
        <div class="menu-name">COLOR</div><div class="menu-name__last">（カラー）</div>
          <p>リタッチ</p>
          <p>フルカラー</p>
          <p>白髪染め</p>
          <p>ブリーチ</p>
          <p>ハーブカラー</p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="menu-name">PERM</div><div class="menu-name__last">（パーマ）</div>
          <p>カット</p>
          <p>jrカット</p>
          <p>スクールカット</p>
      </div>
      <div class="col s6">
        <div class="menu-name">STRAIGHTEING</div><div class="menu-name__last">(縮毛矯正）</div>
          <p>milk縮毛矯正</p>
          <p>ポイントストレート</p>
          <p>縮毛矯正＋デジタルパーマ</p>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <div class="menu-name">OTHER</div><div class="menu-name__last">(その他）</div>
          <p>トリートメント</p>
          <p>ヘッドスパ</p>
          <p>シャンプー&ブロー</p>
      </div>
    <div>
  </div>
</body>