
<div class="top-nav">
  <a class="brand-logo">hair-lounge r</a>
  <div class="right-box"><a class="right-btn", href="https://beauty.hotpepper.jp/svcSA/">➕ WEB予約</a>
</div>
  </div>

<header>
  <div class="imgs">
    <div class="slider">
        <%= image_tag 'img1'  %>
        <%= image_tag 'img2'  %>
        <%= image_tag 'img3'  %>
    </div>
  </div>
</header>
<body>
  <div class="concept">
    <div class="concept__container">
      <div class="concept-top">
        <div class="line"></div>
        <h2>Concept</h2>
      </div>
      <div class="concept__box">
        <div class="concept__box__line">
          <div class="concept-text">
          クセ毛や直毛、多毛など、必要なメニューの提案と必要なカットテクニックで上質な」ヘアスタイルを...
          <br><br>《Hair Lounge R》の一番のコンセプトは『Cut』です。<br><br>お客様一人ひとりの毛質+経験と実績で培った技術。
          <br>これらの組み合わせと見えない手間で形の良い、そして簡単にスタイリングができるヘアスタイルをつくって行きます。
          <br>またヘッドスパにも自信があります。<br><br>お客様のお悩みを少しでも解消できる、日頃の疲れが癒される、そんな美容室を目指しています。
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu">
    <div class="menu__container">
      <div class="menu-top">
        <div class="line"></div>
        <h2>MENU</h2>
      </div>
      <div class="menu-grid">
        <div class="menu-name__cut">
          <div class="menu-name__top">
            <h3 class="menu-name__name">CUT</h3><span class="menu-name__last">(カット）</span>
          </div>
          <dl>
            <dt>カット</dt>
            <dd>¥ 4,840</dd>
          </dl>
          <dl>
            <dt>jrカット（小学生以下）</dt>
            <dd>¥ 3,300</dd>
          </dl>
          <dl>
            <dt>スクールカット（中・高校生）</dt>
            <dd>¥ 3,960</dd>
          </dl>
        </div>
        <div class="menu-name__color">
          <div class="menu-name__top">
            <h3 class="menu-name__name">COLOR</h3><span class="menu-name__last">（カラー）</span>
          </div>
          <dl>
            <dt>フルカラー</dt>
            <dd>¥ 5,940~</dd>
          </dl>
          <dl>
            <dt>リタッチカラー</dt>
            <dd>¥ 5,280~</dd>
          </dl>
          <dl>
            <dt>ブリーチ</dt>
            <dd>¥ 6,160~</dd>
          </dl>
          <dl>
            <dt>ウィービング</dt>
            <dd>¥ 6,160~</dd>
          </dl>
          <dl>
            <dt>ダブルカラー</dt>
            <dd>¥ 13,000~</dd>
          </dl>
          <dl>
            <dt>マニキュア</dt>
            <dd>¥ 5,940~</dd>
          </dl>
          <dl>
            <dt>白髪染め</dt>
            <dd>¥ 5,280~</dd>
          </dl>
        </div>
        <div class="menu-name__perm">
          <div class="menu-name__top">
            <h3 class="menu-name__name">PERM</h3><span class="menu-name__last">（パーマ）</span>
          </div>
          <dl>
            <dt>パーマ</dt>
            <dd>¥ 6,380</dd>
          </dl>
          <dl>
            <dt>ポイントパーマ</dt>
            <dd>¥ 5,500~</dd>
          </dl>
          <dl>
            <dt>クリスタルデジタルパーマ</dt>
            <dd>¥ 16,500</dd>
          </dl>
        </div>
        <div class="menu-name__straighteing">
          <div class="menu-name__top">
            <h3 class="menu-name__name">STRAIGHTEING</h3><span class="menu-name__last">(縮毛矯正）</span>
          </div>
          <dl>
            <dt>クリスタル縮毛矯正</dt>
            <dd>¥ 17,600</dd>
          </dl>
          <dl>
            <dt>ポイント縮毛強制</dt>
            <dd>¥ 8,800</dd>
          </dl>
          <dl>
            <dt>パーマのばし</dt>
            <dd>¥ 11,000</dd>
          </dl>
        </div>
        <div class="menu-name__other">
          <div class="menu-name__top">
            <h3 class="menu-name__name">OTHER</h3><span class="menu-name__last">(その他）</span>
          </div>
          <dl>
            <dt>高密度炭酸水</dt>
            <dd>¥ 1,100</dd>
          </dl>
          <dl>
            <dt>ビトレティカ・トリートメント</dt>
            <dd>¥ 4,400</dd>
          </dl>
          <dl>
            <dt>ディープレイヤー・トリートメント</dt>
            <dd>¥ 3,300</dd>
          </dl>
          <dl>
            <dt>リンゲージ・トリートメント</dt>
            <dd>¥ 2,200</dd>
          </dl>
          <dl>
            <dt>ヘッドスパ</dt>
            <dd>¥ 4,840</dd>
          </dl>
        </div>
      </div>
    </div> 
  </div>

  <div class="staff">
    <div class="staff__container">
      <div class="staff-top">
        <div class="line"></div>
        <h2>STAFF</h2>
      </div>
      <div class="staff1">
        <div class="staff-image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy4Y3dWIwPIGh8G7h87NcUkuJxyRgBQES57y6XRrlp3Ee9PZfFbQ"></div>
        <div class="staff1__box">
          <h4 class="name"> 上野 和幸 <h4> 
          <div class="name-info">
          スタッフのこだわりがたくさん詰まったプライベイトサロンを吉川美南にオープンしました。ぜひ一度Hair Lounge Rに足をお運びください♪お気に入りのサロンになれるよう、スタッフみんなで頑張ります。
          </div>
        </div>
      </div>
      <div class="staff1">
        <div class="staff-image"><img src="https://www.silhouette-illust.com/wp-content/uploads/2017/09/jinbutsu_female_40164-300x300.jpg"></div>
        <div class="staff1__box">
          <h4 class="name">佐藤 由花梨</h4>
          <div class="name-info">
          一緒に可愛い、かっこいいを探しましょう！
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="access">
    <div class="access__container">
      <div class="access-top">
        <div class="line"></div>
        <h2>ACCESS</h2>
      </div>
      <div class="access__info">
        <div class="access__info__info">
          <dl>
              <dt>住所</dt>
              <dd>埼玉県吉川市美南2丁目16-7 <br> アプリコットハウス吉川美南<br>パークサイド102・103</dd>
          </dl>
          <dl>
              <dt>電話番号</dt>
              <dd>048-945-0048</dd>
          </dl>
          <dl>
              <dt>営業時間</dt>
              <dd>9：30～19：30<br>（カット最終受付18：30）<br>時間外 相談可</dd>
          </dl>
          <dl>
              <dt>定休日</dt>
              <dd>毎週火曜日・第3土曜日</dd>
          </dl>
    
        </div>
        <div class="access__map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3233.212963682595!2d139.85160461487862!3d35.86829762729804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601897554eb6c40d%3A0xc0c4d54416dfa8f6!2z44CSMzQyLTAwMzgg5Z-8546J55yM5ZCJ5bed5biC576O5Y2X77yS5LiB55uu77yR77yW4oiS77yX!5e0!3m2!1sja!2sjp!4v1578571980233!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></<iframe>
        </div>
      </div>
    </div>
  </div>
</body>