<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Sass</a></li>
      <li><a href="#">Components</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
</nav>
<header>
  <img src="https://fam-hair.com/wp-content/uploads/2019/04/bg-02.jpg", class="top-img">
</header>
<body>
<div class="menu">

</div>
</body>