<div class="profile">
  <div class="profile-top">
    <h1>staff編集</h1>
  </div>
  <div class="profile-edit">
    <div class="edit-image">
    画像
    </div>
    <div class="edit-name">
      <h4 class="name1"><%= @staff[0]['name'] %><h4>
    </div>
    <div class="edit-info">
    紹介文
    </div>
  </div>
  <div class="profile-edit">
    <div class="edit-image">
    画像
    </div>
    <div class="edit-name">
      <h4 class="name2"><%= @staff[1]['name'] %><h4>
    </div>
    <div class="edit-info">
    紹介文
    </div>
  </div>
</div>